KONG_DATABASE=example
KONG_PG_HOST=example
KONG_PG_PORT=example
KONG_PG_USER=example
KONG_PG_PASSWORD=example
KONG_PG_DATABASE=example
KONG_PG_SSL_VERIFY=example
KONG_PG_SSL=example
KONG_PROXY_ACCESS_LOG=example
KONG_ADMIN_ACCESS_LOG=example
KONG_PROXY_ERROR_LOG=example
KONG_ADMIN_ERROR_LOG=example
KONG_ADMIN_LISTEN=example
KONG_ADMIN_GUI_URL=example

KONG_NGINX_WORKER_PROCESSES=example
KONG_MEM_CACHE_SIZE=example

# manager settings
NODE_ENV=example
KONGA_HOOK_TIMEOUT=example

KONG_MANAGER_AUTH_USERNAME=example
KONG_MANAGER_AUTH_PASSWORD=example

KONGA_SEED_USER_DATA_SOURCE_FILE=example
KONGA_SEED_KONG_NODE_DATA_SOURCE_FILE=example

# cli settings
DECK_KONG_ADDR=example
